body {
  font-family: monospace;
  height: 100dvh;
}

* {
  box-sizing: border-box;
  margin: 0;
}

main {
  display: grid;
  grid-template: 'a b' 1fr / minmax(0, 1fr) minmax(0, 1fr);

  height: 100dvh;
}

h2 {
  margin-bottom: 2rem;
}

hr {
  border: none;
  border-bottom: 1px solid black;

  width: 100%;

  margin: 1.5rem 0;
}

section {
  padding: 2rem;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;

  overflow: scroll;

  > hr {
    align-self: flex-start;
  }
}

#app-1 {
  padding-left: 4rem;
}

#app-2 {
  padding-right: 4rem;
}

.text-wrap {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  word-break: break-all;
}

button:disabled {
  cursor: not-allowed;
}

button:not(:disabled) {
  cursor: pointer;
}

details > summary {
  list-style: none;
  cursor: pointer;
}

details > summary::-webkit-details-marker {
  display: none;
}
